// VARS SCSS

/* Colors */
$blackpure: #000;
$black: #171718;
$black-border: #26292d;
$white: #fff;
$purple: #5c62ec;

/* Header */
$header-bg: $black;
$header-text: $white;

/* Nav */
$nav-bg: $black;
$nav-border: $black-border;
$nav-text: $white;

/* Footer */
$footer-bg: $black;
$footer-text: $white;

/* Light mode */
$page-bg: $white;
$text-color: $black;
$accent: $purple;
$title-1: $accent;

$project-card-bg: $white;
$project-card-text: $black;
$box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
